@keyframes body-bg {
  0%{
    width: 0vw;
  }  

  100%{
    width: 50vw;
  }
}

@keyframes body-opactiy {
    0%{
      opacity: 0%;
    }  

    50%{
        opacity: 0%;
    }
  
    100%{
      opacity: 100%;
    }
}

@keyframes body-roex {
    0%{
      opacity: 0%;
      top: 100%;
    }  

    50%{
        opacity: 0%;
        top: 100%;
    }
  
    100%{
      opacity: 100%;
    }
}

@keyframes body-button {
    0%{
      opacity: 0%;
    }  

    80%{
        opacity: 0;
    }
  
    100%{
      opacity: 100%;
    }
}